<footer class="footer">
  <div class="footer__top container">
      <h2 class="visually-hidden">Footer navigation</h2>
    <div class="footer__column">
            <h4 class="column__title accordion">About Us</h4>
      <ul class="column__list panel">
        <li class="column__item">
            <a href="#" class="column__link">Who we are</a>
        </li>
        <li class="column__item">
            <a href="#" class="column__link">Our stores</a>
        </li>
        <li class="column__item">
            <a href="#" class="column__link">Customer Reviews</a>
        </li>
      </ul>
    </div>
    <div class="footer__column">
        <h4 class="column__title accordion">Categories</h4>
      <ul class="column__list panel">
        <li class="column__item">
            <a href="#" class="column__link">Women fashion</a>
        </li>
        <li class="column__item">
            <a href="#" class="column__link">Accessories</a>
        </li>
        <li class="column__item">
            <a href="#" class="column__link">Kids</a>
        </li>
      </ul>
    </div>
    <div class="footer__column">
        <h4 class="column__title accordion">Help</h4>
      <ul class="column__list panel">
        <li class="column__item">
            <a href="#" class="column__link">Customer service</a>
        </li>
        <li class="column__item">
            <a href="#" class="column__link">Size guide</a>
        </li>
        <li class="column__item">
            <a href="#" class="column__link">Contact us</a>
        </li>
      </ul>
    </div>
    <div class="footer__column">
        <h4 class="column__title accordion">Payments & Delivery</h4>
      <ul class="column__list panel">
        <li class="column__item">
            <a href="#" class="column__link">Purchase terms</a>
        </li>
        <li class="column__item">
            <a href="#" class="column__link">Guarantee</a>
        </li>
      </ul>
    </div>
    <div class="footer__column footer__socials">
        <h4 class="column__title">Social</h4>
      <ul class="column__list socials__list">
        <li class="column__item">
            <a href="#" class="column__link"><i class="fa fa-instagram fa-lg"></i></a>
        </li>
        <li class="column__item">
            <a href="#" class="column__link"><i class="fa fa-twitter fa-lg"></i></a>
        </li>
        <li class="column__item">
            <a href="#" class="column__link"><i class="fa fa-pinterest fa-lg"></i></a>
        </li>
        <li class="column__item">
            <a href="#" class="column__link"><i class="fa fa-facebook fa-lg"></i></a>
        </li>
        <li class="column__item">
            <a href="#" class="column__link"><i class="fa fa-youtube fa-lg"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__bottom container">
      <span class="footer-bottom__copyright">© Copyright, Aurora 2020. All Rights reserved.</span>
  </div>
</footer>
